.main-container {  
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.room {
  width: 95%;
  height: 95%;
  margin: auto;
  display: flex;
  align-items: center;
}

.audio {
  display: none;
}

.room__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,46,136,0);
  transition: background 1s ease-out;
}

.room__position{
  position: relative;
  width: 890px;
  margin: auto;
}

.person {
  position: relative;
  width: 50vw;
  height: 100%;
  background-color: #F6F6F6;
  z-index: 2;
}

.room__bg-img {
  position: absolute;
  transition: transform 1s ease-out;
  left: 0;
  top: 0;
}

.room__popup {
  transform: translateX(-100%);
}

.room__close-btn {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  z-index: 60;
}

.room__img {
  position: absolute;
  transition: transform .3s;
}

.room__spilledCoffee {
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
}

.room__img_id_coffee {
  transition: opacity .5s;
}

.room__img_type_active:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.room__img_type_js-active {
  transform: scale(1.15);
}

.room__img_type_front {
  z-index: 2;
}

.person__img {
  position: absolute;
  width: 150px;
  bottom: 20px;
  right: 20px;
}

.person__text {
  width: 80%;
  max-height: 60%;
  margin: 40px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  color: #333333;
  overflow-y: auto;
}

.person__span {
  font-weight: bold;
  color: #1517A3;
}

.final {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,46,136,0.5);
  z-index: 100;
}

.final__popup {
  position: absolute;
  background: white;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.final__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  color: #333333;
  overflow-y: auto;
  margin: 2rem 5rem;
}

.button__type_final {
  display: block;
  margin: 2rem auto;
  font-size: 1rem;
}

@media (max-width: 1000px) {
  .room {
    height: 65%;
  }

  .main-container {
    flex-direction: column;
  }

  .person {
    width: 100%;
    height: 30%;
  }

  .person__img {
    position: absolute;
    width: 150px;
    bottom: 50%;
    right: 20px;
    transform: translateY(50%);
  }

  .person__text {
    margin: 20px 40px;
    max-height: 65%;
    width: 70%;
    font-size: .9rem;
  }
}

@media (max-width: 470px) {
    .person__text {
      max-height: 70%;
      width: 60%;
      font-size: .8rem;
  }
}