.main-container {  
  display: flex;
  justify-content: space-between;
  height: 100vh;
}

.room {
  width: 95%;
  height: 95%;
  margin: auto;
  display: flex;
  align-items: center;
}

.audio {
  display: none;
}

.room__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,46,136,0);
  transition: background 1s ease-out;
}

.room__position{
  position: relative;
  width: 890px;
  margin: auto;
}

.person {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
  height: 100%;
  background-color: #F6F6F6;
  z-index: 2;
}

.room__bg-img {
  position: absolute;
  transition: transform 1s ease-out;
  left: 0;
  top: 0;
}

.room__popup {
  transform: translateX(-100%);
}

.room__close-btn {
  position: absolute;
  right: 2rem;
  top: 3.5rem;
  z-index: 60;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.pc-close-btn {
  top: 3%;
  right: 3%;
  width: 4rem;
  z-index: 200;
  opacity: 100%;
}

.room__close-btn-active {
  opacity: 100%;
}

.room__img {
  position: absolute;
  transition: transform .3s;
}

.room__spilledCoffee {
  position: absolute;
  opacity: 0;
  transition: opacity .5s;
}

.room__img_id_coffee {
  transition: opacity .5s;
}

.room__img_type_active:hover {
  transform: scale(1.15);
  cursor: pointer;
}

.room__img_type_coffee {
  opacity: 100%;
  cursor: pointer;
}

.room__img_type_js-active {
  transform: scale(1.15);
}

.room__img_type_front {
  z-index: 2;
}

.person__img {
  align-self: flex-end;
  position: relative;
  bottom: 20px;
  right: 20px;
}

.person__text {
  width: 80%;
  max-height: 60%;
  margin: 40px auto;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  color: #333333;
  overflow-y: auto;
}

.person__span {
  font-weight: bold;
  color: #1517A3;
}

.final {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,46,136,0.5);
  z-index: 100;
}

.final__popup {
  position: absolute;
  background: white;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.final__text {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  line-height: 150%;
  color: #333333;
  overflow-y: auto;
  margin: 2rem 5rem;
}

.button__type_final {
  display: block;
  margin: 2rem auto;
  font-size: 1rem;
}

.pcScreen {
  background: white;
  margin: 4rem auto;
  width: 80%;
  height: 90vh;
  border: 2px solid gray;
  opacity: 0;
  transition: opacity 2s;
}

.pcScreen__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  height: 30vw;
  width: 30vw;
  margin: auto;
  border: 2px solid gray;
}

.start {
  box-shadow: 0 0 20px rgba(59, 59, 59, 0.3) inset;
  transition: box-shadow .5s;
}

.end {
  box-shadow: none;
  transition: box-shadow .5s;
}

.alarm {
  border: 2px solid rgb(243, 9, 9);
  box-shadow: 0 0 40px rgba(243, 9, 9, 0.5) inset;
  transition: border .5s box-shadow .5s;
}

.pcScreen__img {
  width: 10vw;
  height: 10vw;
  object-fit: cover;
}

.pcScreen__winner {
  opacity: 0;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  transition: 2s opacity;
}

.pcScreen__text {
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
  transition: 1s opacity;
}

.pcScreen__winner_type_active {
  opacity: 1;
}

.drinks-container {
  z-index: 250;
  height: 700px;
  background-color: white;
  margin: 4em auto;
  width: 80%;
  font-family: "Open Sans", serif;
  font-size: 1em;
  opacity: 0;
  transition: 1s opacity;
}

.manage-drinks > * {
  display: block;
}

.manage-drinks .drink-info {
  margin: 0.5em auto;
  width: 95%;
  max-width: 320px;
  color: black;
}

.manage-drinks__input {
  margin: 0.5em auto;
  padding: 0.5em 1em;
  width: 95%;
  max-width: 320px;
  border: 1px solid slategrey;
  color: white;
  background: darkslategray;
  cursor: pointer;
  font-size: 1rem;
}

.manage-drinks__input:hover {
  color: #eee;
}

@media (max-width: 1150px) {
  .pcScreen,
  .drinks-container {
    height: 650px;
  }

  .room {
    height: 65%;
  }

  .main-container {
    flex-direction: column;
  }

  .person {
    width: 100%;
    height: 30%;
    flex-direction: row;
  }

  .person__img {
    width: 150px;
    bottom: 50%;
    right: 20px;
    transform: translateY(50%);
  }

  .person__text {
    margin: 20px;
    width: 65%;
    font-size: .9rem;
  }

  .final__text {
    font-size: 1rem;
    margin: 2rem;
  }
}

@media (max-width: 720px) {
  .pcScreen,
  .drinks-container {
    height: 600px;
  }

  .manage-drinks {
    margin-top: 5rem;
  }

  .pc-close-btn {
    width: 3rem;
  }

  .final__text {
    font-size: 0.8rem;
    margin: 1rem;
  }

  .button__type_final {
    display: block;
    margin: 1rem auto;
    font-size: 0.6rem;
    width: 150px;
    padding: 0.75rem 0;
  }
}

@media (max-width: 470px) {
  .pcScreen,
  .drinks-container {
    height: 500px;
  }

  .pcScreen {
    min-height: 600px;
  }

  .drinks-container {
    height: 600px;
  }

  .person__text {
    max-height: 70%;
    width: 60%;
    font-size: .8rem;
  }

  .final__text {
    font-size: 0.6rem;
  }

  .button__type_final {
    width: 110px;
    padding: 0.75rem 0;
  }
}

