@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
}

.start-page {
  position: relative;
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100%;
}

.start-page__person {
  align-self: flex-end;
  position: relative;
  top: 150px;
  width: 400px;
}

.start-page-btns {
  width: 65%;
}

.start-page__item {
  position: relative;
  width: 65%;
  margin: 2rem 4rem;
  background: #E9E9F0;
  border-radius: 50px;
  z-index: 2;
}

.button {
  padding: 1rem .5rem;
  margin: 0;
  width: 250px;
  border: none;
  border-radius: 15px;
  box-shadow:
    0 0.25em 0.4em rgba(50, 50, 93, .11),
    0 0.1em 0.25em rgba(0, 0, 0, .08);
  background: #1517A3;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transform: translateY(0);
  will-change: transform;
  transition: transform 0.2s .15s ease;
  cursor: pointer;
}

.button__type_cv-page {
  display: block;
  margin: 10px auto;
  width: 250px;
  z-index: 20;
}

.button__type_skip-btn {
  background: white;
  border: 2px solid #1517A3;
  color: #1517A3;
}

.button:hover {
  box-shadow:
      0 0.8em 1.8em -0.3em rgba(50, 50, 93, .25),
      0 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
}

.button:active {
  box-shadow: initial;
  transform: translateY(0.15em);
}

.start-page__text-block {
  padding: .5rem 0;
  min-height: 25rem;
}

.start-page__text {
  margin: 1.5rem 3.75rem;
  font-size: 1.5rem;
}

.start-page__text_type_header {
  margin-top: 2.5rem;
}

.start-page__text_pos_changed {
  width: 60%;
  margin: 2.5rem 1.5rem 2.5rem 3.75rem;
}

.start-page__italic-text {
  color: #1517A3;
  font-style: italic;
}

.start-page__bold-text {
  color: #1517A3;
  font-weight: 800;
}

.start-page__text-pos {
  position: relative;
  display: flex;
}

.start-page__sprites {
  margin: 0 2rem 0 0;
}

.start-page__sprites_type_left-btn {
  margin-left: 20px;
}

.start-page__corner {
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: -1;
}

@media (max-width: 1240px) {
  .start-page__text {
    font-size: 1.25rem;
  }

  .start-page__person {
    width: 300px;
  }
}

@media (max-width: 955px) {
  .start-page__text {
    margin: 2rem;
    font-size: 1.25rem;
  }

  .start-page-btns {
    width: 100%;
  }

  .button__type_cv-page {
    padding: 1rem .5rem;
    font-size: .75rem;
    width: 200px;
    position: relative;
    bottom: 220px;
  }

  .start-page__sprites {
    display: none;
  }

  .start-page__text_pos_changed {
    width: 100%;
  }

  .start-page {
    flex-direction: column;
    align-items: center;
  }

  .start-page__person {
    top: 150px;
    width: 250px;
  }

  .start-page__item{
    width: 90%;
    margin: 1rem 0 0 0;
  }
} 

@media (max-width: 450px) {
  .button__type_cv-page {
    padding: .75rem .25rem;
    bottom: 170px;
  }

  .start-page-btns {
    width: 80%;
  }

  .start-page__text {
    margin: 1rem;
    font-size: 1rem;
  }

  .start-page__text-block {
    min-height: fit-content;
  }

  .start-page__person {
    width: 200px;
  }
}