@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: "Montserrat", sans-serif;
}

.start-page {
  position: relative;
  height: 100%;
  width: 100%;
}

.start-page__person {
  position: absolute;
  top: 340px;
  right: 20px;
}

.start-page__item{
  position: relative;
  width: 60%;
  margin: 4rem;
  background: #E9E9F0;
  border-radius: 50px;
  z-index: 2;
}

.button {
  position: absolute;
  top: 105%;
  left: calc(50% - 11rem);
  padding: 1rem 6.5rem;
  margin: 0;
  max-width: 22rem;
  border: none;
  border-radius: 15px;
  box-shadow:
    0 0.25em 0.4em rgba(50, 50, 93, .11),
    0 0.1em 0.25em rgba(0, 0, 0, .08);
  background: #1517A3;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  transform: translateY(0);
  will-change: transform;
  transition: transform 0.2s .15s ease;
  cursor: pointer;
}

.button:hover {
  box-shadow:
      0 0.8em 1.8em -0.3em rgba(50, 50, 93, .25),
      0 0.5em 1em -0.5em rgba(0, 0, 0, 0.3);
}

.button:active {
  box-shadow: initial;
  transform: translateY(0.15em);
}

.start-page__text-block {
  padding: .5rem 0;
  height: 35rem;
  max-height: 45rem;
}

.start-page__text {
  margin: 2.5rem 3.75rem;
  font-size: 1.5rem;
}

.start-page__text_type_header {
  margin-top: 3.3rem;
}

.start-page__text_pos_changed {
  margin-right: 23.5rem;
}

.start-page__italic-text {
  color: #1517A3;
  font-style: italic;
}

.start-page__bold-text {
  color: #1517A3;
  font-weight: 800;
}

.start-page__sprites {
  position: absolute;
  top: -1rem;
}

.start-page__sprites_type_arrows {
  left: 66%;
}

.start-page__sprites_type_mouse {
  left:calc(66% + 10rem);
}

.start-page__sprites_type_left-btn {
  left:68%;
}

.start-page__sprites_type_enter {
  left: calc(66% + 10rem);
}

.start-page__text-pos {
  position: relative;
}

.start-page__corner {
  position: absolute;
  right: 0;
  bottom: -100px;
  z-index: -1;
}

@media (max-width: 1215px) {
  .start-page__text {
    font-size: 1.25rem;
  }

  .start-page__sprites_type_arrows {
    left: 50%;
    width: 100px;
  }

  .start-page__sprites_type_mouse {
    left:calc(50% + 8rem);
    width: 70px;
  }

  .start-page__sprites_type_left-btn {
    left:50%;
    width: 80px;
  }

  .start-page__sprites_type_enter {
    left: calc(50% + 7.5rem);
    width: 70px;
  }

  .start-page__person {
    width: 200px;
    top: 500px;
  }
}

@media (max-width: 955px) {
  .start-page__text {
    font-size: 1.25rem;
  }

  .start-page__sprites {
    opacity: 0;
  }

  .start-page__text_pos_changed {
    margin-right: 4rem;
  }
} 

@media (max-width: 740px) {
  .start-page__text {
    margin: 1.35rem 2rem;
    font-size: .75rem;
  }

  .start-page__text-block {
    height: 20rem;
    max-height: 40rem;
  }

  .start-page__item{
    width: 80%;
    margin: 2rem;
  }

  .start-page__person {
    width: 150px;
    top: 430px;
  }

  .button {
    top: 110%;
    padding: .8rem 4rem;
    font-size: .8rem;
    left: calc(50% - 8rem);
  }
}
